{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": { "DefaultConnection": "your-database-connection-string" },
  
  "AllowedHosts": "*"
}
